/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --attention-color: #db00ff;
  --primary-color: #f1b2ce;
  --secondary-color: #000028;

  background: url('../images/cover-image-dark.png') no-repeat center / cover fixed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --attention-color: #db00ff;
    --primary-color: #f1b2ce;
    --secondary-color: #000028;
  }

  .page {
    background: url('../images/cover-image-dark.png') no-repeat center / cover fixed;
  }
}
