/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --attention-color: #ffc2e6;
  --primary-color: #f1b2ce;
  --secondary-color: #353430;

  background: url('../images/cover-image-light.png') no-repeat center / cover fixed;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --attention-color: #ffc2e6;
    --primary-color: #f1b2ce;
    --secondary-color: #353430;
  }

  .page {
    background: url('../images/cover-image-light.png') no-repeat center / cover fixed;
  }
}
